<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Multiple Image Uploads
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-thumbnail *ngFor="let preview of previewImages">
    <img [src]="preview" alt="">
  </ion-thumbnail> -->

  <ion-reorder-group [disabled]="false" (ionItemReorder)="imageReorder($event)">
    <ion-item *ngFor='let preview of previewImages; let i=index;'>
      <ion-thumbnail>
        <img [src]="preview" alt="" class="img-padding">
      </ion-thumbnail>
      <ion-reorder color="primary" slot="end"></ion-reorder>
      <ion-icon color="danger" name="close-circle-outline" slot="end" (click)="undoImage(i)"></ion-icon>
    </ion-item>
  </ion-reorder-group>

  <ion-button id="container" (click)="openImg.click()">
    <ion-icon name="images"></ion-icon>
  </ion-button>
  <input #openImg type="file" hidden accept="image/*" multiple (change)="imageFiles($event)">

</ion-content>